.loader {
  height: 100vh;
}

.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.show-item {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: .5em;
}

.show-info {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.show-rating {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 100px;
  }

  .show-item {
    width: 27%;
  }
}

@media (min-width: 1024px) {
  .show-item {
    --c:linear-gradient(#fff 0 0); /* update the color here */

    background: var(--c), var(--c);
    background-size: .6em .2em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
  }

  .show-item:hover {
    background-size: 40% .2em;
    background-position: 0% 100%, 100% 100%;
  }

  .show-image {
    transition: box-shadow .3s;
  }

  .show-image:hover {
    box-shadow: 0 0 25px rgba(247, 247, 247, 0.7);
  }
}

@media (min-width: 1440px) {
  .container {
    margin: auto;
    max-width: 1440px;
  }
}

