.container {
  display: flex;
  flex-direction: column-reverse;
}

.show-info {
  position: relative;
  padding: 15px 20px;
}

.show-description {
  font-size: var(--small-font-size);
  margin-top: 14px;
}

.details-last-content {
  position: relative;
}

.back-image {
  position: absolute;
  width: 35px;
  right: -3px;
  top: -8px;
  cursor: pointer;
}

.button-container{
  margin-top: 34px;
}

.title-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    padding: var(--default-padding);
    margin: auto;
  }

  .show-info {
    width: 73%;
  }

  .image-item {
    width: var(--image-width);
  }

  .show-description {
    margin-top: 22px;
  }

  .button-container{
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--default-max-width);
  }
}




